<header>
  <h1>
    Welcome to BeerPitch
  </h1>
  <h2>
    We're using Rails <%= Rails.version %> and trying to help you fund that party of yours or your friends!
  </h2>
</header>
<section>
  This is where the facebook login button will base
</section>
