<header>
  <h1 class="page-header">
    Welcome to BeerPitch
  </h1>
  <h2>
    We're using Rails <%= Rails.version %> and trying to help you fund that party of yours or your friends!
  </h2>
</header>
<section>
  <h4>Facebook Events for USERNAME HERE</h4>
  <form>
    <input type="text" placeholder="search bar for events">
  </form>
  <table>
    <h4><%=current_user.oauth_token%>
    <thead>
      <tr>
        <th>Date</th>
        <th>Length</th>
        <th>Name{{}}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in $scope.events.events">
        <td class="date">{{event.date}}</td>
        <td class="time">{{event.start_time}}</td>
        <td class="name">{{event.name}}</td>
        <td class="info">
          <a href="http://facebook.com/events/{{events.data[0].id}}">More Info</a>
        </td>
      </tr>
    </tbody>
  </table>

</section>
